$icon-font-path: "/bower_components/sass-bootstrap/fonts/";
$fa-font-path: "/bower_components/font-awesome/fonts";

@import "sass-bootstrap/lib/bootstrap";
@import "font-awesome/scss/font-awesome";

.logo {
  height: 150px;
  margin-bottom: 10px;
}

.search {
  border: 0;
  background: white;
  position: relative;
  left: -28px;
}

.page-header {
  margin: 10px 0 20px;
}

.available .panel-heading {
    color: white;
    background-color: #2ECC71;
}

.unknown .panel-heading {
    background-color: #95A5A6;
    color: white;
}

.unavailable .panel-heading {
    background-color: #ECF0F1;
    color: white;
}

.available .fa {
  display: inline;
  color: #27AE60;
}

.unknown .fa {
  display: inline;
  color: #7F8C8D;
}

.unavailable .fa {
  display: inline;
  color: #BDC3C7;
}

.name {
  display: inline;
  padding-left: 20px;
  font-size: 32px;
}

.link {
  padding-left: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-user-select: none;
}

.link h4 {
  display: inline;
  padding-left: 15px;
  font-size: 26px;
}

.link .fa {
  color: #2980b9;
}
