<!-- <div>{{list}}</div> -->

<section>
  <div class="row">
    <div class="col-12" ng-repeat="domain in list">

        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title" ng-bind="domain.name"></h3>
            <h2>{{domain.availability}}</h2>
          </div>
          <div class="panel-body" ng-bind="answer" ng-show="clicked">
          </div>
        </div>

    </div>

</section>


<div class="page-header">
<!--   <h1>Quizington</h1>
  <p class="lead">Revise questions and answers</p>
  <p>Access your existing notes in Google Docs or GitHub gists</p>
 -->
    <form name="form" class="form-signin" ng-submit="search()">
    <!-- <h3>Paste your link here</h3> -->
      <input type="text" class="form-control" name="name" ng-model="name" required autofocus/>
      <button type="submit" class="btn btn-lg btn-primary btn-block">Practise!</button>
  </form>
</div>



<div class="footer pull-right">
  <p><a href="http://dunckr.com">❤ dunckr</a></p>
</div>

